.button {
  border: solid 1px rgb(169, 169, 169);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin: 10px;
}
.button:hover {
  background-color: rgb(181, 181, 181);
}
.active {
  color: aliceblue;
  border: solid 1px rgb(169, 169, 169);
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  background-color: rgb(64, 64, 64);
}
